<?xml version="1.0" ?>
<robot name="cube_1_large">
    <link name="cube_link_1_large">
        <inertial>
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>

            <mass value="2.5"/>

            <!-- Solid cube: I = m*s^2/6  s=0.16 m, m=2.5 kg -->
            <!-- I = 2.5 * 0.16^2 / 6 = 2.5 * 0.0256 / 6 = 0.010667 kg*m^2 -->
            <inertia
                ixx="0.010667"
                ixy="0.0"
                ixz="0.0"
                iyy="0.010667"
                iyz="0.0"
                izz="0.010667"/>
        </inertial>

        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.16 0.16 0.16"/>
            </geometry>
            <material name="Cyan">
                <color rgba="0.1 0.7 0.7 1.0"/>
            </material>
        </visual>

        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.16 0.16 0.16"/>
            </geometry>
        </collision>
    </link>
</robot>
